.info{
    padding: 5px 20px;
}
.rovers{
    display: flex;
    flex-wrap: wrap;
    
}
.rovers p{
    margin: 5px;
}
.btn{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 2px;
    margin: 5px 3px;
    transition: .5s;

}
.btn:hover{
    color: white;
    background-color: rgb(76, 190, 243);
    border-color: rgb(76, 190, 243);
    
}
.btncolor{
    background-color: rgb(76, 190, 243);
    border-color: rgb(76, 190, 243);
    color: white;
}

.inp{
    padding: 5px 7px;
    background: none;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    transition: .5s;
    margin-top: 5px;

}
.inpbtn{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 2px;
    margin-left: 3px;
    margin-top: 5px;
    transition: .5s;
}
.inpbtn:hover{
    color: white;
    background-color: rgb(98, 250, 225);
    
}
.inp:hover{
    border-color: rgb(139, 139, 139);
}
.imgs{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.imgs img{
    width: 30%;
    margin: 10px 0;
    
}
.arrows{
    width: 50px;
    margin: 0 auto;
    display: flex;
}
.arrows button{
    width: 100%;
    background: none;
    font-size: 30px;
    border: none;
    margin: 0;
    margin-top: 3px;
}
.imgBlock{
    position: fixed;
    top: 0;
    left: -200%;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
}
.blockimg{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}
.blockimg img{
    width: 100%;
}
.tf{
    position: fixed;
    top: 0;
    left: 0;
}
.block{
    position: relative;
}
@media screen and (max-width: 900px) {
    .blockimg{
        width: 70%;
    }
}
@media screen and (max-width: 700px) {
    .blockimg{
        width: 90%;
    }
}
.info h1{
    font-weight: 300;
}
.info{
    text-align: center;
}

.inpBox{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rovers{
    display: flex;
    justify-content: center;
}